@charset "UTF-8";
/** ---------------------------------------------
 *	Default
 */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.4em;
  font-family: -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  line-height: 1.75;
  background-color: #101010;
}
/** ---------------------------------------------
 *	Default -Types
 */
p {
  font-size: 1.4rem;
}
/** headding */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.6rem;
  font-weight: normal;
}
/** anchor */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #777;
}
/** common-list */
li {
  list-style: none;
}
/** common-text */
.text-small {
  font-size: 0.875em;
  line-height: 2;
}
/** ---------------------------------------------
 *	Structure
 */
.container,
.container-full {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 100%;
}
/** Retina 325px for iPhone7 */
@media (min-width: 750px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.main-section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.section-header {
  margin-bottom: 6rem;
}
/** ---------------------------------------------
 *	Styles
 */
#header {
  position: absolute;
  bottom: 50%;
}
#footer {
  position: absolute;
  bottom: 0;
}
#main {
  margin: 5rem;
  min-height: calc(100vh - 10rem);
  background: linear-gradient(to right, #a61111 0%, #a61111 50%, #601111 50%, #601111 100%);
}
.select-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}
.select-content .select-content-nav {
  display: flex;
}
.select-content .select-content-nav-menu {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
}
.select-content .select-content-nav-menu a {
  position: relative;
  display: inline-block;
}
.select-content .select-content-nav-menu h2 {
  padding: 1.0rem 1.5rem 1.5rem;
}
.select-content .select-content-nav-menu a::before,
.select-content .select-content-nav-menu a::after,
.select-content .select-content-nav-menu h2::before,
.select-content .select-content-nav-menu h2::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.select-content .select-content-nav-menu a::before,
.select-content .select-content-nav-menu a::after {
  width: 0;
  height: 1px;
}
.select-content .select-content-nav-menu h2::before,
.select-content .select-content-nav-menu h2::after {
  width: 1px;
  height: 0;
}
.select-content .select-content-nav-menu a::before {
  top: 0;
  right: 0;
}
.select-content .select-content-nav-menu a::after {
  bottom: 0;
  left: 0;
}
.select-content .select-content-nav-menu h2::before {
  top: 0;
  left: 0;
}
.select-content .select-content-nav-menu h2::after {
  bottom: 0;
  right: 0;
}
.select-content .select-content-nav-menu a:hover {
  color: #fff;
}
.select-content .select-content-nav-menu a:hover::before,
.select-content .select-content-nav-menu a:hover::after {
  width: 100%;
}
.select-content .select-content-nav-menu a:hover h2::before,
.select-content .select-content-nav-menu a:hover h2::after {
  height: 100%;
}
@media (max-width: 1200px) {
  .select-content .container {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    padding-bottom: 6.5rem;
  }
}
